.notifi {
    width: 98%;
    height: auto;
    padding: 5px 9px;
    display: block;
    margin: 0 4px 2%;
    border-left: 4px solid #ef5350;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.notifi:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: scale(1.005);
    transition: 0.3s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#date {
    color: rgba(0, 0, 0, 0.4);
}

#sender {
    color: rgba(0, 0, 0, 0.7);
}

#content {
    padding-top: 4px;
}

#subject {
    margin:  5px 0 10px
}

#body {
    margin-right: 30%;
}
