@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');
.loader {
    background-color: #ffffff;
    padding: 30px 0 0;
}

.loadersMain {
    width: 100%;
    color: #e91916;
}

#realLoader {
    margin-top: 100%;
}
