@use 'css/index';

.homeContainer {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100vh;
}

%snap-styles {
  flex: 0 0 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}

/* WELCOME COMPONENT (left side of /home) */
.welcome {
  @extend %snap-styles;

  // positioning
  position: relative;

  // layout
  display: grid;
  place-items: center;
}

.appName {
  color: var(--app-theme);
  font-size: 5vh;
}

.appDescription {
  color: #aaa;
  font-size: 3vh;
}

.topRing {
  position: absolute;
  top: -20%;
  right: -40%;
}

.bottomRing {
  position: absolute;
  bottom: -16%;
  left: -30%;
}

/* AUTH ROUTES COMPONENT (right side of /home) */

.authRoutesContainer {
  @extend %snap-styles;

  box-shadow: -4px 0 10px 3px rgba(51, 51, 51, 0.03);

  display: grid;
  place-items: center;

  /* parent div of each of the route components loaded in the container*/
  & > div {
    width: 80%;
  }

  /* Login , Register, Forgot Password headers */
  h1 {
    color: var(--h1-color);
  }

  a {
    color: var(--app-theme);
    margin: 0.5rem 0;
    display: inline-block;
  }

  /* don't||already have an account?... container */
  form + div {
    margin: 1.5rem 0;
    color: #aaa;
  }

  // enter your email address..
  .directive {
    color: #aaa;
  }
}

/* Small (sm) devices (landscape phones, 567px and up) */
@media screen and (min-width: index.$sm-size) {
  .homeContainer {
    overflow-x: hidden;
  }

  .welcome {
    flex: 0 0 50vw;
  }

  .authRoutesContainer {
    flex: 0 0 50vw;
  }

  .topRing {
    position: absolute;
    top: -15%;
    right: -15%;
  }

  .bottomRing {
    position: absolute;
    bottom: -15%;
    left: -15%;
  }

  .authRoutesContainer > div {
    width: 50%;
  }
}

/* Medium (md) devices (tablets, 768px and up) */
@media screen and (min-width: index.$md-size) {
}

/* Large (lg) devices (desktops, 992px and up) */
@media screen and (min-width: index.$lg-size) {
}

/* Extra (xl) devices (large desktops, 1200px and up) */
@media screen and (min-width: index.$xl-size) {
}
