.loaderParent {
  display: flex;
}

.loaderParent div {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: linear-gradient(var(--app-theme), var(--app-theme-deep));
  margin: 0 0.5rem;
  border-radius: 50%;
  animation: wobble 0.4s linear infinite alternate both;
}

.loaderParent div:nth-child(1) {
  animation-delay: 0.2s;
}

.loaderParent div:nth-child(2) {
  animation-delay: 0.6s;
}

.loaderParent div:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes wobble {
  from {
    transform: translateY(initial);
  }
  to {
    transform: translateY(1rem);
  }
}
