@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,500,600,700,900");

.app {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
